{% extends 'database/base.html' %}
{% block breadcrumb %}
<nav class="breadcrumb">
    <ul class>
        <li><a href="{% url 'index' %}">Database</a></li>
        <li><a href="{% url 'actions' %}">Actions</a></li>
        <li><a href="{% url 'contributor' contributor.name %}">{{ contributor.name }}</a></li>
    </ul>
</nav>
{% endblock breadcrumb %}
{% block content %}
<h1>{{ contributor.name }}</h1>
<h3>Email: {{ contributor.email }} </h3>
<h3>Belonging institution: {{ contributor.institution }}</h3>
<p>Date of modification {{ contributor.date_of_modification }}</p>
<p>Date of addition: {{ contributor.date_of_addition }}</p>
{% include 'database/contributions_table.html' %}
{% endblock %}
